---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}


<!-- {% assign currcoll = site.collections | where:"label", page.info_collection %} -->
{% for curcoll in site.collections %}
{{ curcoll.label}}
{{ page.info_collection}}

{% if curcoll.label==page.info_collection %}
{% for item in currcoll.docs %}
    {% capture id %}{{ item.id }}{% endcapture %}
    {% unless id contains "index" %}

        <h2><a href="{{ item.url | absolute_url }}">
           {{item.title}}</a> </h2>

         <article class="">

        {{ item.content | markdownify}}

        </article>
    {% endunless %}
  {% endfor %}
{% endfor %}
</div>
