---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}


{% assign currcoll = site.documents | where:"collection", page.info_collection %}
<!-- {% for curcoll in site.collections %}
  {{ curcoll.label}}
  {{ page.info_collection}}

  {% if curcoll.label==page.info_collection %} -->
    {% for item in currcoll %}

        <h2>
          <a href="{{ item.url | absolute_url }}">
           {{item.title}}
          </a>
        </h2>

        <article class="">
          {{ item.content | markdownify}}
        </article>
    {% endfor %}
  <!-- {% endif %}
{% endfor %} -->
</div>
